.input_background {
  position: absolute;

}

.input_background_image {
  background-image: url('/images/tache_pink.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}