.main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.guess_description {
  font-size: 20px;
}

.input_background {
  position: absolute;
}
.input_background_image {
  background-image: url('/images/tache_pink.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  // height: 100vh;
  // width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-right: 80px;
}

.input_container { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: none;
}

.name_input {
  border-radius: 5px;
  height: 30px;
  margin: 30px 0;
  padding: 0 10px;
  font-size: 20px;
}

.submit_form_button {
  border-radius: 5px;
  height: 36px;
  width: 250px;
  background: none;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  background: linear-gradient(to right, #ffcb05 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease; 

  &:hover {
    color: white;
    background-position: left bottom;
  }
}

.result_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: url("../public/images/result_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40vw;
}

.resultBubble_text_illustration {
  background-color: white;
  position: relative;
  border-radius: 50px;
  width: 300px;
  height: 250px;
  align-self: center;
  z-index: 0;
  margin-left: 100px;
  // margin-left: 100px;
  &::after {
    content: '';
    position: absolute;
    bottom: 80px;
    right: -40px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent transparent white;
  }
}

.resultBubble_text_container {
  z-index: 1;
}

.feedback {
  display: flex;
  flex-direction: row;
  font-size: 100px;
  align-self: center;
  // margin: 0 100px 0 20px;
  // padding-top: 80px;
}